.App {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}
.left{
  width: 40%;
  border: 14px groove rgb(234, 255, 0);
}
.right{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 14px groove red;
  align-items: center;
}
button{

  color: rgb(0, 0, 0);
  font-size: 20px;
  border-radius: 15px;

  border: 2px solid blue;
}
